@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Themes/houdongfang/Views/Shared/_Root.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
@if (!Model.OnePageCheckoutEnabled)
{
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart })
}
<div class="shopping_state" style="padding-bottom:0px">
    <div class="catelog_banner"><img src="~/Themes/houdongfang/Content/Images/ad_banner1@2x.jpg" /></div>
</div>
@Html.Partial("OrderSummary", Model)