

<h1 class="header1">Your U-Pick for this week has been selected</h1>
<p style="font-size:14px;">You can view, download, and print <a href="http://www.brookhavenmarket.com/UserPage" style="font-weight:bold">your selected  U-Pick offers here</a>

<p style="font-size:14px;"> Be certain to check back again each week for new offers.</p>