@{
    Layout = "~/Themes/houdongfang/Views/Shared/_Root.cshtml";
}
<div class="index_banner">
    <ul>
        <li><a href="#"><img src="~/Themes/houdongfang/Content/Images/banner01@2x.png" /></a><img class="play_video" src="~/Themes/houdongfang/Content/Images/banner_play@2x.png" /></li>
        <li><a href="#"><img src="~/Themes/houdongfang/Content/Images/banner02@2x.png" /></a></li>
        <li><a href="#"><img src="~/Themes/houdongfang/Content/Images/banner03@2x.png" /></a></li>
        <li><a href="#"><img src="~/Themes/houdongfang/Content/Images/banner04@2x.png" /></a></li>
    </ul>
    <a class="index_prev" href="javascript:;"><img src="~/Themes/houdongfang/Content/Images/banner_left@2x.png" /></a>
    <a class="index_next" href="javascript:;"><img src="~/Themes/houdongfang/Content/Images/banner_right@2x.png" /></a>
    <div class="close"><i class="iconfont">&#xe61b;</i></div>
    <video id="video" class="video-js video-js-acne vjs-default-skin" controls loop preload="auto" width="auto" height="auto"
           data-setup="{}">
        <source type="video/mp4" src="~/Themes/houdongfang/Content/Video/60Savc.mp4" />
    </video>
</div>

<div class="channel clear">
    <div class="channel1">
        <a href="/tea">
            <div class="channel_title">
                <h2>茶</h2>
                <h3><span>后东方精选-采自千年古树</span></h3>
            </div>
            <div class="channel_img"><img src="~/Themes/houdongfang/Content/Images/channel01@2x.png" /></div>
        </a>
    </div>
    <div class="channel2">
        <a href="/store">
            <div class="channel_title">
                <h2>云裤</h2>
                <h3><span>中国非物质文化遗产-莨纱</span></h3>
            </div>
            <div class="channel_img"><img src="~/Themes/houdongfang/Content/Images/channel02@2x.png" /></div>
        </a>
    </div>
    <div class="channel3">
        <a href="/store">
            <div class="channel_title">
                <h2>米</h2>
                <h3><span>后东方精选-潮汕白米</span></h3>
            </div>
            <div class="channel_img"><img src="~/Themes/houdongfang/Content/Images/channel03@2x.png" /></div>
        </a>
    </div>
</div>
