@{
    Layout = "~/Themes/houdongfang/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
}
<div class="foring">
    <div class="foring_pic"><img src="~/Themes/houdongfang/Content/Images/Bitmap.png" /></div>
    <div class="foring_int">
        <h3>请稍后再来，<br>版块正在建设中...</h3>
        <h4><a href="/mall">返回购物</a></h4>
    </div>
</div>